body {
    font-family: 'IBM Plex Serif', serif;
}

#product-overview {
    background: red;
}

#product-overview h1 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Anton', sans-serif; */
}

.section-title {
    color: green;
    /* font-family: inherit; */
}

h1 {
    
    font-family: 'Cedarville Cursive', cursive;

}

/* * {
    font-family: sans-serif;
} */